page-reset {

    
    .bg_content{

        background-color:#b09fc7;
        
        background-size: 100% 100%;
        background-repeat: no-repeat;

    }

    .nav1{

        text-align: center;
        color: whitesmoke;
    }
    .input1{

        background: rgba(255, 255, 255, 0.4);
        color:black;
         }

}
