page-login {
    
    .bg_content{

       
        background-color:#b09fc7;
        background-size: 100% 100%;
        background-repeat: no-repeat;

    }
   
  
   

  
    #button1{

        color: black;
        font-style: normal;

    }
    #button2{

        color:blue;
        font-style: normal;
        
        
    }


    #button3{

        color:blue;
        font-style: normal;
        text-align: center;
        
        
    }



    .input1{

   background: rgba(255, 255, 255, 0.4);
   color: balck;
    }


     .icon{

        font-size:40px;
     }

     h1{

      text-align: center;
      font-size: 40px;
    
      
      
     }
     

}
