<ion-header>
  <ion-navbar class="nav1" color="dark">
  <ion-title>
      Welcome {{userProfile?.firstName}}
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only color="app" (click)="exitChat()"><ion-icon name="exit"></ion-icon></button>
  </ion-buttons>
</ion-navbar>
</ion-header>

<ion-content class="bg_content" padding>
  
 <ion-list>
   <ion-item *ngFor="let chat of chats" no-lines>
     
        <div class="chat-status"  *ngIf="chat.type ==='join' || chat.type === 'exit' ;else noMessage">
          <span class="chat-date">{{chat.sentDate | date: 'short'}}</span>
          <br>
          <span class="chat-content-center">{{chat.message}}</span>
        </div>
       
        <ng-template #noMessage>
            <div class="chat-message" *ngIf="chat.user === userProfile.firstName " >
              <div class="right-bubble">
                <span class="msg-name">Me:</span>
                <span class="msg-date">{{chat.sendDate | date: 'short'}}</span>
                <p text-wrap>{{chat.message}}</p>
              </div>
            </div>
        <div  class="chat-message"  *ngIf="chat.user !== userProfile.firstName ">
          <div class="left-bubble">
          <span  class="msg-name">{{chat?.firstName}}</span>
          <span  class="msg-date">{{chat?.sendDate | date: 'short'}}</span>
          <p text-wrap>{{chat.message}}</p>
        </div>
      </div>
      </ng-template>
   </ion-item>
 </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar color="app2">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-input type="type" [(ngModel)]="data.message" placeholder="type message" ></ion-input>
        </ion-col>
        <ion-col col-2 (click)="sendMessage()">
          <button ion-button round color="app">
          <ion-icon name="paper-plane" ></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-toolbar>
  </ion-footer>


